- provide(:title, 'Home')
.hero-unit  
  %h4 Company details
  %p
    Company: make it cheaper
    %br/
    www.makeitcheaper.com
  %h4 User form
  = form_tag submit_path, :method => 'get', id: "search_invoice" do
    %form.form-horizontal    
      .form-group
        = text_field_tag :name, nil, required: true, maxlength: 100, placeholder: "Name", class: "form-control"      
      .form-group
        = text_field_tag :business_name, nil, required: true, maxlength: 100, placeholder: "Business name", class: "form-control"
      .form-group
        = text_field_tag :telephone_number, nil, required: true, maxlength: 13, placeholder: "Telephone number", class: "form-control"
      .form-group
        = text_field_tag :email, nil, required: true, maxlength: 80, placeholder: "Email", class: "form-control"
      .form-group
        = submit_tag 'Submit'